td {
    width: 207px;
    text-align: center;
}

tr {
    text-align: center;
    width: 207px;
}

.PlayerRagPage {
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.PlayerSpace{
    margin: 5px;
}

