.MoreAbout{
    text-align: center;
    color: blue;
}


.MakeFavRest{

    display: flex;
    justify-content: space-evenly;
}

.FavCheckBox{
    background-color: blue;
}

td{
    align-items: center;
}

tr{
    align-items: center;
}