

.FooterPage{
    text-align: center;
    background-color: blue;
    background: black;
    color: white;
    padding: 9px 20px;
    font-size: medium;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
