h4{
    text-align: center;
    color: white;
  
}

#HomePageBack{
    height: 80%;
  
    font-size: medium;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#HomePageBack::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 77%;
    z-index: -1;
    opacity: 0.7;
    background: burlywood;
    /* background: url('./RIMG/HomeBGIMG.jpg') no-repeat center center/cover; */

}