body{
    background-color: darkorange;
    }

    
#BgBackColor::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: #4654fe;

}

